
.squares {
    width: 100%;
    height: 100%;
    background-color: #000;
    margin: 10px;
    float: left;
}
.square {
    width: 100px;
    height: 100px;
    background-color: #000;
    margin: 10px;
    float: left;
}